@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

.name-h {
    font-family: 'Roboto';
    font-weight: 700;
}

.para-h {
    font-size: 20px;
    font-family: 'Rubik Medium', sans-serif;
}